@import url('reset.css');
@import url('fonts.css');

:root {
    --background-color: #A9CBA4;
    --header-bg-color: #6B7280;
    --header-text-color: #FFFFFF;
    --grid-line-color: #8B4513;
    --grid-cell-bg-color: #F5F5DC;
    --xo-symbol-color: #2F4F4F;
    --turn-indicator-bg-color: var(--background-color); /* Matches background */
    --turn-indicator-text-color: #6B705C;
    --button-bg-color: #F5F5DC;
    --button-text-color: #CC5500;
  }

.container {
    background-color: var(--background-color);
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header header"
    "aside main aside2";
    grid-template-rows: 150px 1fr;
    grid-template-columns: 1fr auto 1fr;
    font-family: 'lato';
}

header {
    grid-area: header;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    font-size: 4rem;
    display: grid;
    justify-items: center;
    align-items: center;
}

aside {
    grid-area: aside;
    /* background-color: aquamarine; */
    display: grid;
    align-content: start;
    justify-content: center;
    padding-top: 170px;
    gap: 30px
}

aside {
    text-align: center;
    font-size: 2rem;
    color: var(--turn-indicator-text-color);
}

aside .score {
    color: var(--grid-cell-bg-color);
}

.container .empty {
    grid-area: aside2;
}

main {
    grid-area: main;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 100px 350px 150px;
}

main .turn {
    height: 100px;
    width: 400px;
    background-color: var(--turn-indicator-bg-color);
    color: var(--turn-indicator-text-color);
    font-size: 3rem;

    display: grid;
    justify-items: center;
    align-items: center;
}

main .grid {
    --grid-size: 300px;
    height: var(--grid-size);
    width: var(--grid-size);
    border: 4px solid var(--grid-line-color);
    background-color: var(--grid-cell-bg-color);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.cell {
    border: 2px solid var(--grid-line-color);
    display: grid;
    justify-content: center;
    align-content: center;

    font-family: 'Coves';
    font-size: 3rem;
    color: var(--xo-symbol-color);
}

main button {
    padding: 15px 50px;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
}

main button:active {
    transform: scale(0.99);
}